<div class="seller-auth">
    <div *ngIf="!showLogin" class="login-container">
    <h2>banker signup</h2>
        <form #userSignUp="ngForm" (ngSubmit)="signUp(userSignUp.value)" class="common-form">
        <input  ngModel name="name" type="text" placeholder="enter your name">
        <input  ngModel name="email" type="text" placeholder="enter your email">
        <input  ngModel name="password" type="password" placeholder="enter password">
        <input type="text"  placeholder="enter your profile url" name="prourl" ngModel>
        <button class="form-button">signup</button>
        <p>Already Have Account? <a (click)="openLogin()" class="anchor">click here to login</a></p>
    </form>
    </div>
    <div *ngIf="showLogin" class="login-container">
        <h2>banker Login</h2>
        <form #userLogin="ngForm" (ngSubmit)="login(userLogin.value)" class="common-form">
            <p class="error-p">{{authError}}</p>
        <input  #email="ngModel" required minlength="8" ngModel name="email" type="text" placeholder="enter your email">
        <p class="invalid-input"><span *ngIf="email.invalid && email.touched">please enter valid email*</span></p>
        <input  ngModel name="password" type="password" #password="ngModel" required minlength="8" maxlength="20" placeholder="enter password">
        <p class="invalid-input"><span *ngIf="password.invalid && password.touched">please enter valid password*</span></p>
        <button class="form-button" [disabled]="userLogin.invalid">login</button>
        <p>Don't Have Account? <a (click)="openSignUp()" class="anchor">click here to signup.</a></p>
    </form>
    </div>
</div>