<nav>
    <input id="nav-toggle" type="checkbox">
    <div class="logo"> <a class="navbar-brand" routerLink="" style="font-size: x-large;"><strong>Star</strong>Fi<strong>nan</strong>ce</a></div>
    <ul class="links">
        <li><a routerLink="">home</a></li>
        <li><a routerLink="aboutus">aboutus</a></li>
      <li><a routerLink="dashboard">DashBoard</a></li>
      <li><a routerLink="login">login</a></li>
      <li><a routerLink="banker">login-bank</a></li>
      <li><a routerLink="profile" >Profile</a> </li>
    </ul>
    <label for="nav-toggle" class="icon-burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </label>
  </nav>
