<nav>
    <input id="nav-toggle" type="checkbox">
    <div class="logo"> <a class="navbar-brand" routerLink="" style="font-size: x-large;">Fi<strong>nan</strong>ce</a></div>
    <ul class="links">
        <li><a rrouterLink="dashBoard">home</a></li>
        <li><a rrouterLink="dashBoard">aboutus</a></li>
      <li><a rrouterLink="dashBoard">DashBoard</a></li>
      <li><a routerLink="invest">Invest</a></li>
      <li><a routerLink="portfolio">Portfolio</a></li>
      <li><a routerLink="wallet" >Wallet</a> </li>
    </ul>
    <label for="nav-toggle" class="icon-burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </label>
  </nav>
