body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.footer {
    background-image:  linear-gradient(to right,  #1c18ff 0%, #43b9ce  51%, #6050f1  100%);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section div {
    margin: 10px;
    flex: 1;
}

@media (max-width: 600px) {
    .footer-section {
        flex-direction: column;
        align-items: center;
    }
}