<div class="footer">
    <div class="footer-section">
        <div>
            <h4>Contact Us</h4>
            <p>Email: info@yourfinancewebsite.com</p>
            <p>Phone: +1 (123) 456-7890</p>
        </div>
        <div>
            <h4>Quick Links</h4>
            <a href="">Home</a><br>
            <a href="#">Services</a><br>
            <a href="aboutus">About Us</a><br>
            <a href="#">Contact Us</a><br>
        </div>
        <div>
            <h4>Legal</h4>
            <a href="#">Privacy Policy</a><br>
            <a href="#">Terms of Service</a><br>
        </div>
    </div>
    <div>
        <p>&copy; 2024 Your Finance Website. All Rights Reserved.</p>
    </div>
</div>